<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  
  <title>Personal API</title> 
  
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>

</head>
<body>
  <h1>ITS LIT / HOME / PROFILE</h1>
  
</body>
</html>